extends ../includes/layout

block page-title
    div.l-page__title
        h1 ¡Ay caramba!

block content
    div.l-page-section
        div.b-form
            form.b-form__form(method="POST" action="#" id="caramba-form")
                div.b-form__line.row.middle
                    div.col-4.col-sm-12
                        div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                            input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                                type="text"
                                name="title"
                                data-field-type="title"
                                data-parsley-required="true"
                            )
                            label.b-form__field-label Название
                    div.col-4.col-sm-6
                        div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                            input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                                type="text"
                                name="year"
                                data-field-type="year"
                                data-parsley-required="true"
                                data-parsley-type="digits"
                            )
                            label.b-form__field-label Год
                    div.col-4.col-sm-6
                        div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                            input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                                type="text"
                                name="price"
                                data-field-type="price"
                                data-parsley-required="true"
                            )
                            label.b-form__field-label Цена
                div.b-form__line.row.middle
                    div.col-12
                        div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                            input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                                type="text"
                                name="description"
                                data-field-type="description"
                            )
                            label.b-form__field-label Описание
                div.b-form__line.row.middle
                    div.col-4.col-sm-12
                        div.b-form__field-wrapper
                            div.b-form__field.b-form__field--radio-group
                                each color, index in ['white', 'black', 'gray', 'pink', 'lime']
                                    div.b-radio-button.b-radio-button--color-picker
                                        input.b-radio-button__input.e-radio(
                                        type="radio"
                                        name="color"
                                        data-field-type="color"
                                        value= color
                                        id="colorPicker" + index
                                        checked = index == 0
                                        )
                                        label.b-radio-button__label(for="colorPicker" + index)
                                            span.b-radio-button__color-box(style="background-color:" + color)
                            label.b-form__field-label Цвет
                    div.col-4.col-sm-6
                        div.b-form__field-wrapper
                            div.b-form__field.b-form__field--select
                                div.b-select.b-select--full-width
                                    select(
                                        data-is-custom-select = true
                                        data-placeholder = "Статус"
                                        data-width = "100%"
                                        data-theme = "autoparts"
                                        data-minimum-results-for-search = "-1"
                                        data-field-type = "status"
                                    )
                                        option
                                        option(value="in_stock") В наличии
                                        option(value="pending") Ожидается
                                        option(value="out_of_stock") Нет в наличии
                    div.col-4.col-sm-6
                        div.b-form__field-wrapper
                            button.i-button.i-button--full-width(type="submit") Отправить
                                i.webfont-icon.webfont-icon--arrow--right

    div.l-page-section
        h5.hide-sm Автомобили в наличии
        div.b-custom-table.b-custom-table--full-width.is-preloading(id="caramba-table")
            div.b-custom-table__inner
                div.b-custom-table__header
                    div.b-custom-table__row
                        div.b-custom-table__cell.b-custom-table__cell--title Название
                        div.b-custom-table__cell.b-custom-table__cell--year Год
                        div.b-custom-table__cell.b-custom-table__cell--color Цвет
                        div.b-custom-table__cell.b-custom-table__cell--status Статус
                        div.b-custom-table__cell.b-custom-table__cell--price Цена
                        div.b-custom-table__cell.b-custom-table__cell--action
                div.b-custom-table__body.js-body
            div.b-custom-table__summary
                div.b-custom-table__summary-title Итого: &nbsp;
                    span.js-summary-price 123 455 руб.
            div.b-custom-table__noty.js-noty