extends ../includes/layout

block page-title
    div.l-page__title
        h1 UI-kit

block content
    h1 Заголовок H1
    h2 Заголовок H2
    h3 Заголовок H3
    h4 Заголовок H4
    h5 Заголовок H5
    h6 Заголовок H6

    h6 Абзацы
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo urna, laoreet a pellentesque ut, volutpat sit amet leo. Maecenas justo neque, accumsan in felis a, condimentum commodo metus. Proin id tortor dictum, placerat dui eget, iaculis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse vulputate scelerisque volutpat. Aliquam erat volutpat.
    p Duis fringilla varius quam, vitae ultrices risus tristique non. Nam eleifend a justo non pulvinar. Sed nulla enim, accumsan efficitur mi nec, tempus imperdiet ex. Etiam vitae consequat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla porta ut est vitae rhoncus. Aenean at tellus sed erat auctor luctus. Mauris efficitur in eros in viverra. Cras sagittis nulla vitae volutpat laoreet. Aliquam convallis iaculis velit, nec gravida libero. Maecenas elementum rhoncus imperdiet. Aliquam velit dui, tincidunt at tellus sit amet, placerat tincidunt orci. Donec semper magna quis est tincidunt, nec tempor tortor rutrum. Suspendisse ut vehicula lorem, ut auctor ex.

    h6 Ненумерованный список
    ul
        li Элемент ненумерованного списка 1
        li Элемент ненумерованного списка 2
        li Элемент ненумерованного списка 3
            ol
                li Элемент ненумерованного списка 1
                li Элемент ненумерованного списка 2
                li Элемент ненумерованного списка 3
                    ul
                        li Элемент нумерованного списка 1
                        li Элемент нумерованного списка 2
                        li Элемент нумерованного списка 3

    h6 Нумерованный список
    ol
        li Элемент нумерованного списка 1
        li Элемент нумерованного списка 2
        li Элемент нумерованного списка 3
            ul
                li Элемент нумерованного списка 1
                li Элемент нумерованного списка 2
                li Элемент нумерованного списка 3
                    ol
                        li Элемент ненумерованного списка 1
                        li Элемент ненумерованного списка 2
                        li Элемент ненумерованного списка 3

    h6 Кнопки

    div.row
        div.col-4.col-sm-12
            div
                button.i-button Кнопка
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                a.i-button(href="#") Ссылка
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                button.i-button.i-button--full-width Широкая кнопка
                    i.webfont-icon.webfont-icon--arrow--right

    div.row
        div.col-4.col-sm-12
            div
                button.i-button.i-button--size-small Кнопка small
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                a.i-button.i-button--size-small(href="#") Ссылка small
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                button.i-button.i-button--full-width.i-button--size-small Широкая кнопка small
                    i.webfont-icon.webfont-icon--arrow--right

    div.row
        div.col-4.col-sm-12
            div
                button.i-button.i-button--ellipse Овальная кнопка
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                a.i-button.i-button--ellipse(href="#") Овальная ссылка
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                button.i-button.i-button--full-width.i-button--ellipse Широкая овальная кнопка
                    i.webfont-icon.webfont-icon--arrow--right

    div.row
        div.col-4.col-sm-12
            div
                button.i-button.i-button--ellipse.i-button--size-small Овальная кнопка small
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                a.i-button.i-button--ellipse.i-button--size-small(href="#") Овальная ссылка small
                    i.webfont-icon.webfont-icon--arrow--right
        div.col-4.col-sm-12
            div
                button.i-button.i-button--full-width.i-button--ellipse.i-button--size-small Широкая овальная кнопка small
                    i.webfont-icon.webfont-icon--arrow--right


    h6 Формы

    div.b-form
        form.b-form__form(method="POST" action="#")
            div.b-form__line.row.middle
                div.col-4.col-sm-12
                    div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                        input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                            type="text"
                            name="title"
                            data-field-type="title"
                            data-parsley-required="true"
                        )
                        label.b-form__field-label Название
                div.col-4.col-sm-6
                    div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                        input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                            type="text"
                            name="year"
                            data-field-type="year"
                            data-parsley-required="true"
                            data-parsley-type="digits"
                        )
                        label.b-form__field-label Год
                div.col-4.col-sm-6
                    div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                        input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                            type="text"
                            name="price"
                            data-field-type="price"
                            data-parsley-required="true"
                        )
                        label.b-form__field-label Цена
            div.b-form__line.row.middle
                div.col-12
                    div.b-form__field-wrapper.b-form__field-wrapper--smart.js-smart-label--wrapper
                        input.b-form__field-input.i-input.i-input--full-width.js-smart-label--input(
                            type="text"
                            name="description"
                            data-field-type="description"
                        )
                        label.b-form__field-label Описание
            div.b-form__line.row.middle
                div.col-4.col-sm-12
                    div.b-form__field-wrapper
                        div.b-form__field.b-form__field--radio-group
                            each color, index in ['white', 'black', 'gray', 'pink', 'lime']
                                div.b-radio-button.b-radio-button--color-picker
                                    input.b-radio-button__input.e-radio(
                                        type="radio"
                                        name="color"
                                        data-field-type="color"
                                        value= color
                                        id="colorPicker" + index
                                        checked = index == 0
                                    )
                                    label.b-radio-button__label(for="colorPicker" + index)
                                        span.b-radio-button__color-box(style="background-color:" + color)
                        label.b-form__field-label Цвет
                div.col-4.col-sm-6
                    div.b-form__field-wrapper
                        div.b-form__field.b-form__field--select
                            div.b-select.b-select--full-width
                                select(
                                    data-is-custom-select = true
                                    data-placeholder = "Статус"
                                    data-width = "100%"
                                    data-theme = "autoparts"
                                    data-minimum-results-for-search = "-1"
                                    data-field-type = "status"
                                )
                                    option
                                    option(value="in_stock") В наличии
                                    option(value="pending") Ожидается
                                    option(value="out_of_stock") Нет в наличии
                div.col-4.col-sm-6
                    div.b-form__field-wrapper
                        button.i-button.i-button--full-width(type="submit") Отправить
                            i.webfont-icon.webfont-icon--arrow--right

    h6 Кастомная табица

    div.b-custom-table.b-custom-table--full-width
        div.b-custom-table__header
            div.b-custom-table__row
                div.b-custom-table__cell.b-custom-table__cell--title Название
                div.b-custom-table__cell.b-custom-table__cell--year Год
                div.b-custom-table__cell.b-custom-table__cell--color Цвет
                div.b-custom-table__cell.b-custom-table__cell--status Статус
                div.b-custom-table__cell.b-custom-table__cell--price Цена
                div.b-custom-table__cell.b-custom-table__cell--action
        div.b-custom-table__body
            div.b-custom-table__row(data-row-id="1")
                div.b-custom-table__cell.b-custom-table__cell--title
                    div.title 1.6 MT Ambiente 85 л.с. МКПП
                    div.description + доп. опция «Радио-навигационная система Amundasen 2DIN, CD, MP3
                div.b-custom-table__cell.b-custom-table__cell--year 2012
                div.b-custom-table__cell.b-custom-table__cell--color
                    div.i-color-box(style="background-color: #fff")
                div.b-custom-table__cell.b-custom-table__cell--status Ожидается
                div.b-custom-table__cell.b-custom-table__cell--price
                    nobr.price.js-price(data-original-price="1689000") 1 689 000 руб
                    nobr.price-with-tax.js-price-with-tax(data-original-price="1908570") 1 908 570 руб (+13%)
                div.b-custom-table__cell.b-custom-table__cell--action
                    button.i-button.i-button--ellipse.i-button--size-smalli-button.js-delete-trigger Удалить
            div.b-custom-table__row(data-row-id="2")
                div.b-custom-table__cell.b-custom-table__cell--title
                    div.title 1.6 MT Ambiente 85 л.с. МКПП
                div.b-custom-table__cell.b-custom-table__cell--year 2012
                div.b-custom-table__cell.b-custom-table__cell--color
                    div.i-color-box(style="background-color: #fff")
                div.b-custom-table__cell.b-custom-table__cell--status Ожидается
                div.b-custom-table__cell.b-custom-table__cell--price
                    nobr.price.js-price(data-original-price="1689000") 1 689 000 руб
                    nobr.price-with-tax.js-price-with-tax(data-original-price="1908570") 1 908 570 руб (+13%)
                div.b-custom-table__cell.b-custom-table__cell--action
                    button.i-button.i-button--ellipse.i-button--size-smalli-button.js-delete-trigger Удалить
        div.b-custom-table__footer

